.note-list {
    background-color: var(--fundo);
    flex-grow: 3;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    list-style-type: none;
    padding-left: 24px;
    padding-top: 24px;
  }
  .note-list_item {
    margin: 12px;
    max-width: 240px;
    max-height: 400px;
    display: inline;
    animation: addNote 300ms ease-in;
  }

  .note-list_item:hover {
      transform: scale(115%);
      transition-duration: 250ms;
  }

  @keyframes addNote{
    33%{
      transform: scale(140%);
    }
    66%{
      transform: scale(130%);
    }
    100%{
      transform: scale(120%);
    }
  }