.content {
    display: flex;
}

.main-content{
    flex-grow: 3;
}

:root{
    --primary: rgb(95, 25, 25);
    --secondary: #2c313f;
    --secondary-hover: #4c556e;
    --secondary-active: #cccccc;
    --background: #ffffff;
    --background-detail: #ececec;
}